* {
    box-sizing: border-box;
  }
  
body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
    margin: 0;
    padding: 1px;
    color: white;
    background-image: linear-gradient(to right, blue ,purple);
    text-align: center;
}

.card {
    border-bottom: 2px solid grey;
}
.btn {
    flex-wrap: wrap;
    text-align: center;
    text-decoration: none;
    padding: 10px 5px;
    width: 100%;
    display: block;
    margin: 10px 0;
    border-radius: 0.3em;;
    border: none;
    outline: none;
    transform: translate(-1px, -1px);
}

#search-button {
  color: white;
  background-color:lightblue;


}

/* FORM */
.form-label,
.form-input,
.form-textarea {
  display: block;
}

.form-label {
  font-size: x-large;
  font-weight: bold;
  margin: 0 0 0 5px;
}

.form-input {
  width: 100%;
  padding: 3%;
  margin: 5px 0;
  font-size: 1.2rem;
}

